<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Comment</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h1>New Comment</h1>
        <form method="POST" action="{% url 'create_comments' poll_id %}">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="hidden" name="poll" value="{{ poll_id }}">
            <a href="{% url 'index' %}"  class="btn btn-outline-primary my-3">กลับหน้าแรก</a>
            <button type="submit" class="btn btn-primary my-3">Save</button>
        </form>
    </div>
</body>
</html>